.cont{
    margin-top: 15px;
}

.footer {
	background: #000000;
}

.text {
	color: #ffffff;
    font-size: 10px
}
.text2 {
	color: #ffffff;
    text-align: center;
    margin-top: 15px
}

.image{
    margin-left: 20%;
}