body { 
	background-image: url("fondo.jpg");
}

#contenedor{

	width: 100%;
	margin: auto;
	position: relative;
}

.copyright p{

	font-family: "angsab";
	color: #FFFFFF;
	font-size: 10px;
	font-style: bold;
	position: relative;
    top: -60px;
    left: 350px;

}


@font-face {
	font-family: Franklin-Gothic-Heavy_18503;
	src:(Fuentes/Franklin-Gothic-Heavy_18503.ttf);
	font-family: angsab;
	src:(Fuentes/angsab.ttf);
}

.footlogocalidad{
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-width: 2px;
   margin: 0px;
   padding: 0px;
   position: relative;
   top: -80px;
   left: 0px;

}

<<<<<<< HEAD
.footlogocalidad .imagen1{
    position: relative;
    top: 0px;
    left: 230px;
=======
body { 
	background-image: url("fondo.jpg");
    background-repeat: no-repeat;
background-size: cover;
}
>>>>>>> 336db38d45c8503ce6f29ee379600747359d8a75

}

footer{

	background-color: #000000;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: auto;
	margin: auto;
	text-align: center;
	width: 90%;
	
}

h2{

	font-family: "angsab";
	font-size: 20px;
	font-style: bold;
	text-align: center;

}

header{

	width: 90%;
	margin: auto;
	
}

.img-responsive{

	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

.lectura{


	width: 810px;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #808080;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
	position: relative;
    top: 0px;
    left: 75px;

}

<<<<<<< HEAD
.logounad {
    left: 0px;
=======
section .lectura1{

 
	font-family: "angsab";
	color: #808080;
	font-size: 15px;
	font-style: normal;
	text-align: justify;
	position: relative;
    top: 10px;
    left: 0px;

	background: #B3B3B3;
	display: table;
	width: 1000px;
	margin: 175px;
	height: 400px;
    margin-top: auto;
    
 

}

section .lectura2{

	font-family: "angsab";
	color: #808080;
	font-size: 15px;
	font-style: normal;
	text-align: justify;
>>>>>>> 336db38d45c8503ce6f29ee379600747359d8a75
	position: relative;
    top: 0px;
	width: 100%;
}

p{

	font-family: "angsab";
	font-size: 15px;
	text-align: justify;


}

.titulo1{

	color: #FFFFFF;
	font-family: "angsab";
	font-size: 10px;
	font-style: bold;
	position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.titulo2{

	font-family: "angsab";
	color: #FFFFFF;
	font-size: 10px;
	font-style: bold;
	position: relative;
    top: -110px;
    left: 680px;
    
}



.twitter_widget{

    width: 380px;
	border-style: solid;
	border-color: #808080;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	position: relative;
    top: -210px;
    left: 795px;

 }

aside{
	margin-left: auto;
	width: 260px;
	height: 400px;
}

/*Estilo general del menu*/

.menu {
	font-family: "Franklin Gothic Heavy";
}

.titulo{
    font-family: "Franklin Gothic Heavy";
    text-align: center;
    text-shadow: 5px 5px 5px 10px rgba(255,255,255,255,0.5);
}

nav{

	width: 100%;
	margin: auto;

}

nav ul {
	list-style: none;
	padding: 0;
}

nav li{
	line-height: 3rem;
	position: relative;
}

.menu ul{
	position: absolute;
	z-index: 1;
}

nav a{
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition: .4s;
}

nav a:hover{
	background: #F0B429;
}

/*primer nivel  menu*/

.menu{

	background: #005883;
	display: table;
	width: 100%;
	text-align: left;
	margin: 0.5em auto;
	max-width: 1200px;
}
	
.menu >  li{
	float: left;
}

/*segundo nivel del menu*/

nav li li{
	background: #005883;
	max-height: 0;
	overflow: hidden;
	transition: all .5s;
}

nav li:hover > ul > li{
	max-height: 1000px;
	overflow: visible;
}

.menu > li > ul{
	top: 100%;
}

